<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Log in | Monitoring</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login"
  data-admin-utc-offset="0">
  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <div id="header">
      <div id="branding">
        <h1 id="site-name"><a href="/login/">Login Dummy</a></h1>
      </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
      <div id="content-main">
          <form  method="post" id="login-form">
            <div class="form-row">
              <label class="required" for="id_username">Username:</label>
              <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            </div>
            <div class="form-row">
              <label class="required" for="id_password">Password:</label>
              <input type="password" name="password" autocomplete="current-password" required id="id_password">
            </div>
            <div class="submit-row">
                <button type="button" class="btn btn-primary" onclick="login()"> Log In </button>
            </div>
          </form>
      </div>
      <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
<script>
     function login() {
        $.ajax({
            method: "POST",
            url: "/api/pengumuman/login",
            data: {username:$('input[name="username"]').val(),password:$('input[name="password"]').val()},
            success: function(data) {
                sessionStorage.setItem("token",data.token);
                sessionStorage.setItem("role",data.role);
                window.location = "/";
            },
            error: function(data){
                console.log(data);
          }
            });
      };
</script>
</body>
</html>
